@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  accent-color: #554d35;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
