@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  accent-color: #6366f1;
  color-scheme: light;
} */

html {
  scroll-behavior: smooth;
}

html,
body {
  @apply h-full;
}

/* Registration Form */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="search"],
input[type="time"],
input[type="week"],
select,
textarea {
  @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm;
}

.form-label {
  @apply mb-1 block text-sm font-medium text-gray-700;
}
.form-input {
  @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="month"]:disabled,
input[type="search"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
select:disabled,
textarea:disabled {
  @apply bg-gray-50;
}

.min-h-almost-full {
  min-height: calc(100vh - 84px);
}

/* Headings */
.heading-1 {
  @apply text-5xl font-bold tracking-tight text-gray-900;
}

.heading-2 {
  @apply text-2xl font-bold tracking-tight text-gray-900 md:text-3xl;
}

.heading-3 {
  @apply text-lg font-medium leading-6 text-gray-900;
}

/* Buttons */
button:disabled {
  @apply cursor-not-allowed opacity-50;
}

.btn {
  @apply inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}

.btn-primary {
  @apply border-transparent bg-indigo-600 text-white hover:bg-indigo-700;
}

.btn-large {
  @apply text-base;
}

.btn-xl {
  @apply px-6 py-3 text-base;
}

/* Golbal Styles for React JSON Schema Form */
/* .rjsf fieldset {
  @apply mb-6 space-y-6;
}
.rjsf button {
  @apply border-transparent bg-indigo-600 text-white hover:bg-indigo-700;
} */
